@import url('common.index.css');

th {
	border:0;
	border-bottom:2px solid #555;
	text-align: center;
	padding:4px;
	font-size:80%;
}

table tr td {
	background: #fff;
	padding: 6px;
	text-align: right;
	vertical-align: top;
	border-bottom:1px solid #ddd;
	font-size:90%;
}
